.dashboard-container {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: bisque;
  
}


button {
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a70000;
}

p{
  font-size: small;
}

button{
  font-size: small;
}
